//Colors 
$Brightorange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$Verydarkcyan: hsl(179, 100%, 13%);



//Fonts
$BigShouldersDisplay: 'Big Shoulders Display', cursive;
$LexendDeca: 'Lexend Deca', sans-serif;
